.button {
  &-trash__link {
    @extend .center;
    width: 30px;
    height: 30px;
    box-shadow: $primary-box-shadow;
    border-radius: 30px;
    cursor: pointer;
  }

  &-trash__icon {
    fill: $secondary-color;
  }
}
