.navbar {

  &-list {
    display: flex;
    flex-direction: column;
  }

  &-link__icon {
    fill: $secondary-text-color;
    margin-right: 8px ;
  }

  &-link__text {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    color: $secondary-text-color;
  }

}
