.orders {
  &-title {
    @extend .title;
  }

  &-list__wrapper {
    position: relative;
    display: flex;
    gap: 12px;
  }

  &-list__large {
    @extend .vertical-center;
    @extend .space-between;
    @extend .col-md-12;
  }

  &-list__small {
    @extend .vertical-center;
    @extend .space-between;
    @extend .col-md-4;
  }

  &-item {
    @extend .vertical-center;
    @extend .space-between;
    border: 1px solid $body-bg;
    border-radius: 8px;
    box-shadow: $primary-box-shadow;
    padding: 4px;
  }

  &-item:not(:last-child) {
    margin-bottom: 12px;
  }

  &-item__wrapper {
    @extend .vertical-center;
    @extend .space-between;
    width: 100%;
  }

  &-item__title {
    @extend .fs165;
    @extend .col-md-5;
    color: $primary-text-color;
  }

  &-item__quantity-wrap-large {
    @extend .flex-column;
    @extend .col-md-2;
  }

  &-item__quantity-wrap-small {
    @extend .flex-column;
    @extend .col-md-6;
  }

  &-item__quantity-number {
    @extend .fs186;
    color: $primary-text-color;
  }

  &-item__quantity-name {
    @extend .fs144;
    color: $secondary-text-color;
  }

  &-item__date-large {
    @extend .flex-column;
    @extend .col-md-3;
  }

  &-item__date-small {
    @extend .flex-column;
    @extend .col-md-6;
  }

  &-item__date-first {
    @extend .fs145;
    color: $secondary-text-color;
  }

  &-item__date-second {
    @extend .fs155;
    color: $primary-text-color;
  }

  &-item__sum {
    @extend .flex-column;
    @extend .col-md-2;
  }

  &-item__sum-usd {
    @extend .fs144;
    color: $secondary-text-color;
  }

  &-item__sum-uah {
    @extend .fs145;
    color: $primary-text-color;
  }

  &-products__close {
    display: none;
  }

  &-products__open {
    display: block;
    @extend .col-md-8;
  }

  &-products__wrap {
    position: relative;
  }

  &-products__title {
    @extend .fs186;
    color: $primary-text-color;
    margin-bottom: 12px;
  }

  &-products__card {
    border: 1px solid $body-bg;
    border-radius: 8px;
    box-shadow: $primary-box-shadow;
  }

  &-products__item {
    @extend .vertical-center;
    gap: 12px;
    border: 1px solid $body-bg;
    border-radius: 8px;
    box-shadow: $primary-box-shadow;
  }

  &-products__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &-products__item:hover, &-products__item:focus {
    background-color: $body-bg;
    box-shadow: $secondary-box-shadow;
  }

  &-products-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    top: 8px;
    right: 8px;
    background-color: $container-bg;
    //border: 1px solid $primary-border-color;
    border-radius: 25px;
    box-shadow: $primary-box-shadow;
  }

  &-products__description {
    @extend .flex-column;
  }

  &-products__name {
    @extend .fs165;
    color: $primary-text-color;
  }

  &-products__serial {
    @extend .fs144;
    color: $secondary-text-color;
  }

  //&-modal-list {
  //
  //}

  &-modal-item {
    @extend .vertical-center;
    gap: 12px;
    border: 1px solid $body-bg;
    border-radius: 8px;
    box-shadow: $primary-box-shadow;
    padding: 8px;
  }

  &-modal-item:hover, &-modal-item:focus {
    background-color: $body-bg;
    box-shadow: $secondary-box-shadow;
  }

  &-modal-item:not(:last-child) {
    margin-bottom: 12px;
  }

  &-modal-item__description {
    @extend .flex-column;
  }

  &-modal-item__name {
   @extend .fs165;
    color: $primary-text-color;
  }

  &-modal-item__serial {
    @extend .fs144;
    color: $secondary-text-color;
  }
}


